@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;500&display=swap');

body {
    background-color: #ece8e1;
}
.bgNews {
    background: url("../images/news_banner.jpg") no-repeat;
    object-fit: cover;
    margin-top: 80px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-start; */
    padding-left: 150px;
}
.bgContent {
    color: #fff;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
}

/* List news */
.listNews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 80px;
    gap: 20px;
}

.rowNews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 30px;
}

/* News Item */

.newsItem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #383e3a;
}

.newsItem .time {
    font-size: 14px;
    font-weight: 600;
}

.newsImg {
    position: relative;
    overflow: hidden;
}
.newsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.newsImg .overlayImg {
    position: absolute;
    top: 0;
    left: -100px;
    background-color: #ff46567e;
    width: 0;
    height: 100%;
    transition: 0.4s ease;
    transform: skew(-20deg);
}

.newsItem:hover .newsImg .overlayImg {
    width: 200%;
}

.newsText h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.newsText p{
    font-size: 15px;
    color: #768079;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
